fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
pypdf
python-multipart
sentence-transformers
python-dotenv
langchain-google-genai
pytesseract
pdf2image
tabula-py
pillow
opencv-python
